<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2> 
  <%= link_to 'invite', 
  invitation_path(:first_step, 
  :user_id => @user.id), 
  class: 'profile-link', method: :post %>

  <h3>Pending friend requests:</h3>

  <% @user.pending_friends.each do |f|  %>
    <%= f.name  %>
  <% end  %>
  <br>
  <br>

  <h3>Pending friend invitations:</h3>

  <% @user.friend_requests.each do |f|  %>
    <%= f.name  %> 
	<%= link_to 'Accept', accept_path(:first_step, :friends_id => f.id),  method: :put %>
	    <% end  %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
