<section class="user-section">
  <%= image_tag(@user.gravatar_url, size: '100x100')%>
  <h2><%= @user.name %></h2> <br><br>

  <%= user_index_friendship_status(@user)%>
  
  <%= pending_friends_request(@user)%>
  
  <%= friend_requests(@user)%>

  <article class="timeline">
    
   <%= post_rendering(@user)%>
        
  </article>
</section>
